.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}


.gooey_nav {
    position: relative;
    width: 30%;
    margin-right: 0px; 
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}