body{
  background-color: black;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
  text-align: center;
  color: #fff;
  padding: 0 20px;
}
.intro-box {
  display: flex;
  justify-content: flex-start; 
  align-items: center;
  gap: 10px; 
  width: 100%;
}

.static-text {
  flex: 0 0 auto; 
}

.dynamic-text {
  flex: 1 1 auto;
  display: inline-block;
}


.box1{
  margin-left: 200px; ;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
  height : 200px;
  width: 100%;
}


.name-text {
  font-size: 2.8rem;
  font-weight: 800;
  color: #00e5ff;
  text-shadow: 0 0 10px #00e5ff, 0 0 20px #00e5ff;
  animation: glow 2s ease-in-out infinite alternate;
}

.dynamic-text {
  display: inline-flex;
  background: none;
  color: #ffffff;
  overflow: hidden;
  font-size: 1.8rem;
  font-weight: 600;
}


@keyframes glow {
  from {
    text-shadow: 0 0 10px #00e5ff, 0 0 20px #00e5ff;
  }
  to {
    text-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff;
  }
}
